.ShowBtn {
  cursor: pointer;
  border: 1px solid grey;
  padding: 2px 4px;
  background: white;
  margin: 20px 5px 0 5px;
  display: inline-block;
}

.HideBtn {
  cursor: pointer;
  display: inline-block;
  font-size: 90%;
}

.HideBtn:hover {
  color: grey;
}

.ShowBtn:hover{
  border-color: #4b4b4b;
  background: lightgoldenrodyellow;
}