.Container {
  display: flex;
  justify-content: center;
}

.SingleView {
  display: inline-block;
  border: 1px solid #bdbdbd;
  padding: 10px 30px 30px 30px;
  background: rgba(240,240,240, 0.98); 
  box-shadow: 0.5px 0.5px grey;
  position: absolute;
  top: 50px;
  width: 97%;
  margin: 0;
  border-right: 0;
  z-index: 2;
  box-sizing: border-box;
}