.Checkbox div{
  display: inline-block;
}

.Checkbox label{
  border: 1px solid grey;
  padding: 3px 5px;
  font-weight: 500;
  width: 40px;
  display: inline-block;  
  text-align: center;
  font-size: 90%;
  margin: 0 2px;
  background: white;
  cursor: pointer;
}

.Checkbox input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}


.Active {
  background: lightblue !important;
}