.Examiners{
  margin: 40px 10px 30px 10px;
}

.ExaminerFlexContainer{
  display: flex;
  flex-wrap: wrap;
}

.Examiners .ExaminerFlexItem{
  flex-basis: 600px;
}


.SubmitBtns button{
  display: inline-block;
  margin-right: 5px;
}

.SubmitBtns span{
  cursor: pointer;
  color: blue;
}

.SubmitBtns span:hover{
  color: grey;
}
