.Examiners{
  margin: 60px 10px 30px 10px;
  display: flex;
  flex-wrap: wrap;
}

.Examiners .ExaminerFlexItem{
  flex-basis: 600px;
}

.Group{
  margin-right: 25px;
  cursor: pointer;
  color: #1a0dab;
}

.Group:hover{
  color: grey;
}

.NotActiveGroup{
  margin-right: 25px;
}

.SubmitBtns button{
  display: inline-block;
  margin-right: 5px;
}

.SubmitBtns span{
  cursor: pointer;
  color: blue;
}

.SubmitBtns span:hover{
  color: grey;
}