.Row td{
  height: 55px;
  border-bottom: 1px solid lightgrey;
}

.Row td i{
  padding: 0 2px;
  font-size: 90%;
}

.Row td:first-child{
  font-weight: 500;
  width: 40%;
}

.Row td:nth-child(2), .Row td:nth-child(3){
  width: 25%;
}

.Row td:last-child{
  text-align: right;
  padding-right: 10px;
  width: 10%;
}

.Row .Address{
  font-weight: normal;
  font-size: 75%;
  padding-left:5px;
}

.Row{
  background: #F2F2F2;
}

.Row:nth-child(odd){
  background: white;
}

.Row:last-child td{
  border-bottom: 1px solid grey;
}

.Row td span span {
  font-size: 70%;
  margin-left: 1px;
}