.Row td {
  height: 55px;
  border-bottom: 1px solid lightgrey;
}

.Row {
  background: #F2F2F2;
}

.Row:nth-child(odd) {
  background: white;
}

.Row:last-child td {
  border-bottom: 1px solid grey;
}

.Row td:first-child {
  font-weight: 500;
}

.Row td:last-child {
  text-align: right;
  padding-right: 10px;
}

.Row .Address{
  font-weight: normal;
  font-size: 75%;
  padding-left:5px;
}

.Selectable {
  cursor: pointer;
}

.Selected {
  background: palegreen !important;
}

.NotAvailable {
  opacity: 0.5;
}

.SelectedNotAvailable {
  background: lightsalmon;
}