.Row td, .SessionRow td{
  height: 55px;
  border-bottom: 1px solid lightgrey;
}

.Row, .SessionRow{
  background: #F2F2F2;
}

.Row:nth-child(odd), .SessionRow:nth-child(odd){
  background: white;
}

.Row:last-child td, .SessionRow:last-child td{
  border-bottom: 1px solid grey;
}

.Row td:first-child, .SessionRow td:first-child{
  font-weight: 500;
}

.Row td:last-child, .SessionRow td:last-child{
  text-align: right;
  padding-right: 10px;
}

.Row .Address{
  font-weight: normal;
  font-size: 75%;
  padding-left:5px;
}

/*widths for normal tables*/
.Row td:first-child {
  width: 40%;
}

.Row td:nth-child(2), .Row td:nth-child(3){
  width: 25%;
}

/*widths for session table*/

.SessionRow td:first-child {
  width: 20%;
}

.SessionRow td:nth-child(2), .SessionRow td:nth-child(3), .SessionRow td:nth-child(4){
  width: 10%;
}

.SessionRow td:nth-child(5){
  width: 25%;
}

.SessionRow td:nth-child(6){
  width: 15%;
}

.Row td:last-child, .SessionRow td:last-child{
  width: 10%;
}