.Table {
  padding: 0 5px;
}

.LimitedTable {
  margin-top: 20px;
  max-height: 273px;
  overflow-y: scroll;
}

.RowHeader th{
  padding-top: 20px;
  border-bottom: 1px solid grey;
  font-weight: initial;
  position: sticky;
  text-align: left;
  vertical-align: bottom;
  background: rgba(240,240,240, 0.98);
  top: 40px;
  z-index: 1;
}

.RowLimited th {
  padding-top: 0 !important;
  top: 0 !important;
}

.RowHeader th:first-child {
  width: 25%;
}

.RowHeader th:nth-child(2), .RowHeader th:nth-child(3){
  width: 20%;
}

.RowHeader th:nth-child(4){
  width: 25%;
}

.RowHeader th:nth-child(5){
  width: 10%;
  text-align: right;
}
