.Table {
  padding: 0 5px;
}

.LimitedTable {
  margin-top: 10px;
  margin-bottom: 30px;
  max-height: 306px;
  overflow-y: scroll;
}

.RowHeader th{
  padding-top: 20px;
  border-bottom: 1px solid grey;
  font-weight: initial;
  position: sticky;
  text-align: left;
  vertical-align: bottom;
  background: rgba(240,240,240, 0.98);
  top: 40px;
  z-index: 1;
}

.RowHeader th:first-child {
  width: 25%;
}

.RowHeader th:nth-child(2), .RowHeader th:nth-child(3){
  width: 20%;
}

.RowHeader th:nth-child(4){
  width: 25%;
}

.RowHeader th:nth-child(5){
  width: 10%;
  text-align: right;
}

.RowHeaderLimited th{
  padding: 0;
  border-bottom: 1px solid grey;
  font-weight: initial;
  position: sticky;
  text-align: left;
  vertical-align: bottom;
  background: rgba(240,240,240, 0.98);
  top: 0;
  z-index: 1;
  width: 25%
}

.RowHeaderLimited th:first-child{
  width: 40%;
}

.RowHeaderLimited th:nth-child(4){
  width: 10%;
  text-align: right;
}

