.Auth{
  margin-top: 125px;
}

.Auth form{
  margin: auto;
  width: 250px;
  padding: 6px;
  font-size: 120%;
}

.Error{
  font-size: 80%;
  background: salmon;
  border-bottom: 1px solid grey;
  position: fixed;
  top: 0;
  padding: 15px 0;
  left: 0;
  width: 100%;
  text-align: center;
}