.FormContainer {
  display: flex;
  justify-content: center;
}

.Form {
  display: inline-block;
  border: 1px solid #bdbdbd;
  padding: 10px 30px 30px 30px;
  margin: 6px 0 0 5px;
  background: rgba(240,240,240, 0.98); 
  box-shadow: 0.5px 0.5px grey;
  position: absolute;
  top: 50px;
  z-index: 2;
  box-sizing: border-box;
}

.ExtraLarge {
  width: 99%;
  border-right: 0;
}