.SubmitBtns {
  display: flex;
  justify-content: space-between;
}

.SubmitBtns button{
  display: inline-block;
  margin-right: 5px;
}

.Expand {
  padding-top: 10px;
}

.SubmitBtns span{
  cursor: pointer;
  color: #0000EE;
}

.SubmitBtns span:hover{
  color: grey;
}
