.Select, .DateSelect{
  margin: 10px 0;
}

.DateSelect{
  display: inline;
}

.Select select{
  min-width: 200px;
  padding: 3px 0;
}

.DateSelect select{
  padding: 3px 0;
  display: inline;
}

.AVAILABILITY select {
  height: 300px;
}

