.UpdateAlert{
  position: absolute;
  font-size: 90%;
  top: 7px;
  right: 7px;
  z-index: 5;
  padding: 2px 10px;
  border: 1px solid grey;
  background: lightgreen;
  min-width: 300px;
  text-align: center;
}

.UpdateAlert i{
  margin-right: 5px;
}

.Message{
  display: inline-block;
}

.Message span{
  padding: 3px;
}

.Bold{
  font-weight: 800;
}