.SmallFont {
  font-size: 80%;
}

.ExaminerPair {
  padding: 5px 0;
}

.ExaminerPair span{
  padding: 0 3px;
}

.ExaminerPair:first-child {
  padding-top: 10px;
}

.ExaminerPair:last-child {
  padding-bottom: 10px;
}

.Link div:first-child {
  cursor: pointer;
}

.Link div:first-child:hover {
  color: grey;
}

.Thicker {
  font-weight: 500;
}