.Login {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:2px;
}

.Wrapper {
  border: 1px solid lightgrey;
  background: rgba(203, 203, 203, 0.6);
  font-size: 120%;
  max-width: 50%;
}

.Wrapper form {
  margin: 50px;
}

