.Select, .DateSelect{
  margin: 10px 0;
}

.DateSelect{
  display: inline;
}

.Select select{
  min-width: 200px;
  padding: 3px 0;
  overflow-y: auto;
}

.DateSelect select{
  padding: 3px 0;
  display: inline;
}

.AVAILABILITY{
  height: 300px;
}

.Invalid select{
  border:1px solid #dc3545;
  background: #f7d0cb;
}

.Error{
  font-size: 70%;
  margin-left: 4px;
  color: #dc3545;
}



