.Input{
  margin: 10px 0;
}

.Input label{
  display: block;
}

.Input select{
  min-width: 200px;
  padding: 3px 0;
  overflow-y: auto;
}

.NotVisible{
  display: none;
}

.Invalid input, .Invalid select{
  border:1px solid #dc3545;
  background: #f7d0cb;
  padding: 2px 1px;
}

.Error{
  font-size: 70%;
  margin-left: 4px;
  color: #dc3545;
}

.Checkbox{
  display: inline-block;
}

.Checkbox label{
  border: 1px solid grey;
  padding: 3px 5px;
  font-weight: 500;
  width: 40px;
  display: inline-block;  
  text-align: center;
  font-size: 90%;
  margin: 0 2px;
  background: white;
  cursor: pointer;
}

.Checkbox label:hover{
  background: lightgray;
}

.Checkbox input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.DateSelect select{
  min-width: 20px !important;
  display: inline-block;
  margin-right: 5px;
}

.Active {
  background: lightblue !important;
}

.NotVisible{
  display: none;
}