.Input{
  margin: 10px 0;
}

.Input label{
  margin-right: 5px;
}

.Input .ErrorMessage{
  font-size: 85%;
  color: #dc3545;
}

.Input input{
  min-width: 225px;
}

.Input select{
  min-width: 225px;
  padding: 3px 0;
  overflow-y: auto;
}

.Input span{
  font-size: 80%;
}

.NotVisible{
  opacity: 0.5;
}

.Invalid input, .Invalid select, input:-webkit-autofill{
  border:1px solid #dc3545;
  padding: 2px 1px;
}

.Invalid div div{
  width: fit-content;
}

.Error{
  font-size: 70%;
  margin-left: 4px;
  color: #dc3545;
}

.Checkbox, .disabledCheckbox{
  display: inline-block;
}

.Checkbox label, .disabledCheckbox label{
  border: 1px solid grey;
  padding: 3px 5px;
  font-weight: 500;
  width: 40px;
  display: inline-block;  
  text-align: center;
  font-size: 90%;
  margin: 2px 2px;
  background: white;
}

.Checkbox label{
  cursor: pointer;
}

.Checkbox input, .disabledCheckbox input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.Checkbox label:hover{
  background: lightgray;
}

.DateSelect select{
  min-width: 20px !important;
  display: inline-block;
  margin-right: 5px;
}

.Active {
  background: lightblue !important;
}

.InlineSelect{
  height: 150px;
  display: inline-block;
  margin-right: 5px;
}

.InlineSelect select{
  height: 100px;
}

.TextArea{
  width: 328px;
  height: 50px;
}