.Examiners .NameBtn{
  color: initial;
  font-weight: 500;
  cursor: pointer;
}

.Examiners .NameBtn:hover{
  color: grey;
}

.Row td{
  padding: 20px 0;
  height: 50px;
  border-bottom: 1px solid lightgrey;
}

.Row:nth-child(odd){
  background: #F2F2F2;
}

.Row:last-child td{
  border-bottom: 1px solid grey;
}

.Row td span span {
  font-size: 70%;
  margin-left: 1px;
}

.Icons{
  border: 1px solid grey;
  padding: 3px 5px;
  font-weight: 500;
  width: 45px;
  display: inline-block;  
  text-align: center;
  font-size: 90%;
  margin: 0 2px;
  background: white;
}

.Roles{
  font-size: 90%;
}

.Btn{
  cursor: pointer;
  color: #0000EE;
}

.Btn:hover, .Bar{
  color: grey;
}

@media only screen and (max-width: 600px) {
  .Examiners thead{
    display: none;
  }

  .Examiners tr td{
    display: block;
    width: 100%; 
    border-bottom: none !important;
    text-align: center;
    padding: 0 !important;
  }

  .Examiners tr td{
    display: none;
  }

  .Examiners tr td:first-of-type{
    display: block;
    width: 100%; 
    border-bottom: 1px solid lightgrey !important;;
    text-align: center;
    padding: 10px !important;
    box-sizing: border-box;
  }
}

