.SingleExaminer{
  margin-top: 20px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.SingleExaminer div{
  flex-basis: 700px;
}

.SingleExaminer tr td{
  padding: 10px 0;
}

.SingleExaminer tr .Label{
  width: 150px;
  border-right: 1px solid lightgrey;
  background: #F2F2F2;
}

.SingleExaminer .Data{
  padding-left: 10px;
}

.SingleExaminer .Data .SessionItem span{
  padding: 10px;
  font-size: 90%;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  background: white;
}

.SingleExaminer .Data .SessionItem .IconInRow{
  border: 1px solid grey;
  padding: 1px 8px;
  font-weight: 500;
}

.Warning{
  background: salmon;
}

.Warning i{
  padding-right: 5px;
}

.Icons{
  border: 1px solid grey;
  padding: 3px 5px;
  font-weight: 500;
  width: 45px;
  display: inline-block;  
  text-align: center;
  font-size: 90%;
  margin: 2px;
  background: white;
}

.SingleExaminer tr td span span {
  font-size: 70%;
  margin-left: 1px;
}

.ArrayItem{
  display: block;
}

.Sub{
  font-size: 90%;
  color: grey;
}


