.ConfirmDeletePanel {
  position: relative;
  display: inline;
}

.ConfirmDeletePanel .ConfirmAction {
  position: absolute;
  top: 0;
  left: -300px;
  width: 350px;
  padding: 10px 20px;
  border: 1px solid lightgrey;
  background: aliceblue;
  text-align: center;
  z-index: 1;
}

.SmallBtn{
  cursor: pointer;
  color: #0000EE;
}

.SmallBtn:hover{
  color: grey;
}

.ConfirmBtn {
  font-size: 50%;
}

.Bold {
  font-size: 100%;
  font-weight: 500;
}