@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500');

.Section{
  padding: 20px 5px;
  background: linear-gradient(rgba(240,240,240, 0.8), rgba(251,251,251, 0.8)); 
  min-height: 80vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  overflow-y: scroll;
}

input, select, button, textarea{
  font-family: inherit;
  font-size: inherit;
  outline: 0;
  display: block;
}

textarea{
  resize: none;
}

input[type='checkbox']{
  display: inline-block;
}

button{
  border: 1px solid grey;
  padding: 5px;
  cursor: pointer;
}

button:hover{
  background-color: lightgrey;
}

table{
  width: 100%;
  border-spacing: 0;
}

@media only screen and (max-width: 600px) {
  input{
    width: 100%;
  }

}
