.Login {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:2px;
}

.Wrapper {
  border: 1px solid lightgrey;
  background: rgba(203, 203, 203, 0.6);
  font-size: 120%;
  max-width: 50%;
}

.Wrapper form {
  margin: 50px;
}

.ErrorWrapper {
  margin-top: 100px;
  height: 25px;
  display: flex;
  justify-content: center;
}

.Error {
  border: 1px solid grey;
  display: inline-block;
  padding: 0 10px;
  background: pink;
}

.Error i{
  margin-right: 5px;
}