.Login {
  margin-top: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Wrapper {
  border: 1px solid lightgrey;
  background: rgba(203, 203, 203, 0.6);
  font-size: 120%;
  max-width: 50%;
  position: relative;
}

.Wrapper form {
  margin: 50px;
}

.Error {
  border: 1px solid grey;
  display: inline-block;
  padding: 0 10px;
  background: pink;
  position: absolute;
}

.Error i{
  margin-right: 5px;
}