.Auth{
  margin-top: 125px;
}

.Auth form{
  margin: auto;
  width: 250px;
  padding: 6px;
  font-size: 120%;
}

.Error{
  font-size: 80%;
  background: salmon;
  border-bottom: 1px solid grey;
  position: fixed;
  top: 0;
  padding: 15px 0;
  left: 0;
  width: 100%;
  text-align: center;
}

.Login {
  margin-top: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Login form {
  border: 1px solid lightgrey;
  padding: 50px;
  background: rgba(203, 203, 203, 0.6);
  font-size: 120%;
  max-width: 50%;
}