.Header{
  height: 40px;
}

.Header ul{
  margin: 0;
  padding: 0;
  position: fixed;
  height: 40px;
  width: 100%;
  top: 0;
  display: flex;
  z-index: 3;
}

.Header li{
  display: inline-block;
  padding: 10px;
}

.Active{
  color: initial;
  cursor: initial;
}

.Active li span{
  background: #F2F2F2;
  border-bottom: 1px solid lightblue;
}

.Header .RightMenu {
  flex-grow: 1;
  text-align: right;
}

.UpdateAlert{
  position: absolute;
  font-size: 90%;
  top: 7px;
  right: 7px;
  z-index: 5;
  padding: 2px 10px;
  border: 1px solid grey;
  background: lightgreen;
  min-width: 300px;
  text-align: center;
  /* animation: fadeOut 5s forwards; */
}

.ErrorAlert{
  position: absolute;
  top: 7px;
  right: 17px;
  z-index: 5;
  padding: 0 10px;
  border: 1px solid grey;
  background:pink;
  min-width: 300px;
  text-align: center;
}

.UserBar{
  position: absolute;
  font-size: 90%;
  top: 42px;
  right: 2px;
  padding: 2px 10px;
  border: 1px solid lightgrey;
  background: white;
}

.UpdateAlert .Action,
.ErrorAlert .Action,
.UserBar .Action{
  margin: 0 3px;
}

.UpdateAlert .Secondary{
  margin-left: 2px;
  font-size: 90%;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.ActiveLink{
  color: #0000EE;
  cursor: pointer;
}

.ActiveLink:hover{
  color: grey;
}